@import url(fonts.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --nav-bg:#313131;
    --change-lang: #fff;
    --nav-link: #fff;
    --d-d__list: #fff;
    --basefont-noto-s-r: 'Noto Sans';
    --d-d-link__list: #ABABAB;
    --d-d-link__list-active: #313131;
    --d-d__pseudo-e: #C4C4C4;
    --paddin__d-d__list: 15px;
    --formBtnBg: #313131;
    --formBtnvcolor: #fff;
    --formSearchColor: #bbb;
    --productsItempseudo: #313131;
    --productsItembg: #fff;
    --slidertitle: #313131;
    --btnmain: #313131;
    --PL_logo-white: none;
    --PL_logo-black:  block;
}
.btn_main{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    display: block;
    text-transform: uppercase;
    background: #313131;
    border: 1px solid var(--btnmain);
    padding: 13px 0;

}
.btn_main:hover{
    color: #fff;
}
body{
    font-family: var(--basefont-noto-s-r);
}
li{
    list-style: none;
}
p, h1,h1,h3,h4,ul,li,a{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.nav__bg{
    background: var(--nav-bg);
}
.dd_width{
    width: 80px !important;
    display: inline-block;
}
.mei__link{
    text-align: center;
    width: 100%;
}
.nav__bg .dropdown-menu{
    max-width: 80px;
    min-width: 0rem;
    top: 100%;
}
.drop__icon{
    color:#fff;
}
.nav__container{
    max-width: 544px;
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}
.p-link{
    position: relative;
}
.drop-list{
    margin-top: 20px;
}
.drop__icon{
    font-size: 16px;
    margin-right: 5px;
}
.cart{
    color: var(--nav-link);
}
.sigin{
    color: var(--nav-link);
}
.phone-link{
    color: var(--nav-link);
}
.cart:hover{
    color: var(--nav-link);
}
.sigin:hover{
    color: var(--nav-link);
}
.phone-link:hover{
    color: var(--nav-link);
}
.drop__down__icon{
    margin-left: 5px;
}
.drop-down{
    position: relative;
}
.drop-down__button{
    position: relative;
    background: transparent;
    outline: none;
    border: none;
}
.drop-down__button{
    color: #fff;
}
.drop-down__button:hover{
    color: #fff;
}
.d-d__list{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    max-width: 80px;
    width: 100%;
    background: var(--d-d__list);
    padding: 5px 0;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    transform-origin: 0 0;
    transition: 0.5s;
    transform: scaleY(0);
    z-index: 1000;
}
.d-d-link__list{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--d-d-link__list);
}
.d-d-link__list:hover{
    color: var(--d-d-link__list);
}
.d-d-link__list:active{
    color: var(--d-d-link__list-active);
}
.d-d-link__list-english{
    color: var(--d-d-link__list-active);
}
.d-d-link__list-english:hover{
    color: var(--d-d-link__list-active);
}
.drop-down, .phone-link, .sigin, .cart{
    padding:  var(--paddin__d-d__list) 0;
}
.d-d__pseudo-e{
    position: relative;
}
.d-d__pseudo-e::before{
    display: block;
    content: "";
    position: absolute;
    background: var(--d-d__pseudo-e);
    width: 70px;
    height: 1px;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
}
.searchcontainer{
    margin: 18px 0;
}
.search__form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search__img-logo{
    max-width: 187px;
    width: 100%;
    object-fit: contain;
}
.productnav{
    padding: 18px 18px;
}
.form__btn{
     padding-top: 17px;
     padding-bottom: 16px;
    max-width: 190px;
    width: 100%;
    border: 1px solid var(--formBtnBg);
    outline: none;
    background: var(--formBtnBg);
    color: var(--formBtnvcolor);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.form__search{
    max-width: 440px;
    width: 100%;
    padding: 15px 10px;
    border: 1px solid var(--formBtnBg);
    outline: none;
    color: var(--formSearchColor);
}
input[type="search"]::placeholder{
    font-size: 14px;
    color: var(--formSearchColor);
}
.form__icon{
    font-size: 20px;
    margin-right: 5px;
}
.form__icon-mobile{
    background: var(--formBtnBg);
    color: var(--formBtnvcolor);
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid var(--formBtnBg);
    cursor: pointer;
    display: none;
}
.products__item{
    position: relative;
    background: var(--productsItembg) ;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    padding: 15px 20px 17px 20px;
}
.products__item::after{
    position: absolute;
    content: "";
    display: block;
    background: var(--productsItempseudo);
    height: 3px;
    top: 0;
    right: 20px;
    left: 20px;
}
.dropdown-menu.show{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
    
}
 .dropdown-menu{
    border-radius: 0 !important;
}
.products__list{
    font-size: 18px;
    text-align: center;
}
.navbar-light .navbar-nav .nav-link{
    color: var(--formBtnBg);
}
.products__link{
    min-width: 100px;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #313131;
    font-weight: 400;
    text-transform: capitalize;
}
.products__link-main{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: var(--formBtnBg);
    margin-bottom: 10px;
    display: inline-block;

}
.products__link-main-under{
    text-decoration-line: underline;
}
.navbar-nav .dropdown-menu{
    position: relative;
}
.offcanvas{
    margin-right: auto;
}
.slidercont{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
 .slider__link{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    background: #313131;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 0;   
}
.slider__link:hover{
    color: #fff;
}
.slider__shop{
    font-weight: 600;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--slidertitle);
    margin-bottom: 100px;
    position: relative;

}
.slider .slider__dot{
    background: #ABABAB;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    margin: 0 15px;
}
.slider__inicators{
    position: static;
    margin: 50px 0 0 0;
    display: flex; align-items: center;
}
 .slider .slider__dot.active{
    background: var(--slidertitle);
    width: 15px;
    height: 15px;
} 
.slider__img{
    height: 515px;
    max-width: 100%;
    width: 100%;
    object-fit: contain;
}
.slider{
    margin-top: 50px;
}


/*GRIDPREW START*/
.gridprew{
    margin-top: 91px;
    margin-bottom: 145px;
}
.prewu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.prewu .salers:nth-of-type(1){
    grid-column: span 2;
    grid-row: span 2;
}
.prewu .salers:nth-of-type(2){
    grid-column: span 2;
    
}
.salers{
    background: #F9F9F9;
    position: relative;
}
.sallers__img{
    width: 100%;
    position: relative;
    object-fit: contain;
    
}
.sallresBlok{
    position: absolute;
    bottom: 20px;
    left: 23px;
}
.salers__pseudo{
    
    position: absolute;
}
.sallers__title{
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #313131;
}
.sallers__price{
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #313131;
}
.salers__pseudo{
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #313131;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;align-items: center;
    border-radius: 50%;
}
.sallresBlok_top{
    top: 20px;
    left: 23px;
}
.salers__pseudo-top{
    top: 20px;
    left: 23px;
}
.salers__pseudo-bottom{
    bottom: 10px;
    left: 20px;
    
}
.gridprew__btn{
    max-width: 190px;
    width: 100%;
    margin: auto;
    margin-top: 25px;
}
/*GRIDPREW AND*/
/*CELL PHONES START*/
.phones__title{
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: var(--btnmain);
    margin-bottom: 30px;
}
.cart-block{
    position: relative;
    padding: 18px 26px 18px 26px;
    min-height: 350px;
    border: 1px solid transparent;
    transition: 0.4s;
    
}
.carts__main{
    height: 100%;
}
.cart-block:hover{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.cart-block:hover .carts__icon{
   display: block;
}
.cart-block:hover .carts__btn{
   visibility: visible;
}
.carts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
}
.carts__icon{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    font-size: 18px;
    display: none;
    transition: 0.4s;
    
}
.like__link-cart{
    color: var(--btnmain);
    display: inline-block;
    transition: 0.4s ease-in;
}
.carts__btn{
    max-width: 100px;width: 100%;
    padding: 5px 0;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #fff;
    visibility: hidden;
    margin-bottom: 20px;
}
.carts__img{
    max-width: 260px;
    width: 100%;
    object-fit: contain;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}
.carts__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--btnmain);
}
.carts__price{
    text-align: center;
}
.cart-block .carts__main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    flex-direction: column;
}
.cart-block .carts__img{
    display: flex;
    justify-content: center;
    
}
.cellphone{
    margin-bottom: 70px;
}
/*CELL PHONES END*/
/*PLAYSTATION START*/
.PlayStation{
    margin-bottom: 70px;
}
.PlayStation__logo-white{
    display: var(--PL_logo-white);
    margin-bottom: 20px;
}
.PlayStation-block{
    position: relative;
}
.PlayStation__logo-black{
    display:  var(--PL_logo-black);
    margin-bottom: 20px;
}
.PlayStation__img{
    max-width: 950px;
    width: 100%;
    object-fit: contain;
}
.PlayStation__title{
    font-weight: 600;
    font-size: 48px;
    color: var(--btnmain);
    margin-bottom: 70px;
}
.PlayStation__btn{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    max-width: 190px;
    width: 100%;
    text-transform: uppercase;
}
/*PLAYSTATION  end*/